{% extends "blog/base.html" %}
{% load static %}
{% block content %}




  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">We Are Open!</h1>
    <p class="lead">Pick Up and Curb Side Delivery</p>
    <a href="#" class="btn btn-primary btn-lg">Order Now</a>
  </header>

  <!-- Call to Action Well -->
  <div class="card text-dark bg-max my-5 py-4 text-center">
    <div class="card-body">
      <span class="text-dark m-0">Best cakes in the 50 mile area! Shops like that are really rare, would recomend to anyone.</span>
      <span class="text-dark font-italic margin-max"> -Phyllis</span>
    </div>
  </div>

  <!-- Page Features -->
  <div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="{% static 'blog/pictures/1.png' %}" alt="">
        <div class="card-body">
          <h4 class="card-title">Featured Cake</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Description</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="{% static 'blog/pictures/2.jpeg' %}" alt="">
        <div class="card-body">
          <h4 class="card-title">Featured Cake</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Description</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="{% static 'blog/pictures/3.jpg' %}" alt="">
        <div class="card-body">
          <h4 class="card-title">Featured Cake</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Description</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="{% static 'blog/pictures/4.jpg' %}" alt="">
        <div class="card-body">
          <h4 class="card-title">Featured Cake</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Description</a>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->
{% endblock content %}
